.detail_form {
    display: flex;
    justify-content: center;
}
.detail_form .detail {
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    width: 75%;
    height: 600px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgb(220, 216, 216);
}
.detail_form .detail .detail_img img {
    margin: 30px 30px 30px 30px;
    width: 380px;
    height: 430px;
    border-radius: 8px;
}
.detail_form .detail .detail_content {
    margin-right: 100px;
    margin-left: 80px;
    margin-top: 30px;
    font-family:  sans-serif;
}
.detail_form .detail .detail_content .name {
    font-size: 24px;    
}
.detail_form .detail .detail_content .price {
    margin-top: 32px;
    background-color: aliceblue;
    padding: 22px 40px 62px 40px;
    color: rgb(238, 36, 0);
    font-size: 42px;
    border-radius: 4px;
}
.detail_form .detail .detail_content .price_old {
    text-decoration: line-through;
    color: rgb(87, 87, 87);
    font-size: 20;
    position: relative;
    top: -60px;
    margin-left: 50px;
}
.detail_form .detail .detail_content .slogan {
    color: rgb(87, 87, 87);
    position: relative;
    top: -46px;
    margin-left: 110px;
    font-size: 12px;
}
.type {
    color: #007c80;
    margin-bottom: 0px;
}
.type_1 {
    color:#01979c;
    position: relative;
    bottom: 16px;
    left: 150px;
}
.type_2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #007c80;
}
.type_3 {
    margin: 15px 0;
    color: #007c80;
}
.item_discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.item_discount img {
    width: 80px;
    margin-right: 20px;
    position: relative;
    bottom: 33px;
    left: 94px;
}
.size_bt {
    position: relative;
    bottom: 33px;
    left: 150px;
}
.size_button {
    width: 64px;
    height: 32px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.size_button:hover {
    color: #038388;
    font-weight: 600;
    border: 2px solid #038388;
}
.buy_button {
    font-size: 15px;
    font-weight: 500;
}
.buy_button:focus {
    color: black;
    border: 2px solid #038388;
}
.des_form {
    display: flex;
    justify-content: center;
}
.des_form .description {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    width: 75%;
    height: 1200px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgb(220, 216, 216);
}
.des_title {
    background-color: rgb(238, 241, 243);
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    padding:22px 0 22px 0 ;
    border-bottom: 3px sienna solid;
    font-weight: 550;
}

.like_share .img_like {
    width: 134px;
    position: relative;
    bottom: 120px;
    left: 360px;
}
.like_share .img_share {
    width: 184px;
    position: relative;
    bottom: 120px;
    left: 320px;
}

